
 .camera {
    min-height: 95vh;
    font-family: sans-serif;
    background: linear-gradient(to bottom, rgb(48, 9, 75), rgb(10, 10, 24)) !important;
}

.heading {
    text-align: center;
    padding-top: 100px;
    margin-top: -5px;
}

.items {
    padding: 50px 25px;
    display: grid;                       
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-items: center;
}


