.content{
    font-size: 50px !important;
    font-weight: bold !important;
    background: linear-gradient(to right,rgb(119, 0, 255),rgb(244, 42, 255)) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;  
}


.value{
    font-weight: bold !important;
    background: linear-gradient(to right, #4B18D1, #8018D1) !important;
    background-clip: text !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.value_1{
    color: black;
}